.hero {
    background-image: radial-gradient(circle 680px at 10% 780px,#f1f5f9,#06040D 60%)
  }

  @media(min-width: 768px){ /* Above 768px this will happened */
    .hero{
      background-image: radial-gradient(circle 1880px at 10% 1130px,#f1f5f9,#06040D 60%);
    }
}


.mask{
  /* mask:radial-gradient(circle at top right,red,transparent 70%); */
  mask:radial-gradient(circle 2000px at -57% 960px,transparent 45%,white 50%);
  /* background:radial-gradient(circle 2000px at -57% 960px,red 45% ,blue 50%); */
}

.testcard{
  background-color: rgb(76, 88, 91,0.2);
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes scrolleffect {
  to{
    transform: translateY(-100%)
  }
}

.scroll{
  animation: scrolleffect 20s linear infinite;
}


  
