@keyframes gradient-move {
  0%{
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg, #ff0080, #ff8c00, #40e0d0, #007cff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 3s infinite;
}

.nav{
  -webkit-mask: linear-gradient(90deg,transparent,white 20%,white 80%,transparent);
  mask: linear-gradient(90deg,transparent,white 20%,white 80%,transparent);
  scroll-behavior:initial;
  scrollbar-width:none;
  scroll-snap-type: x mandatory;
}

.nav a {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  text-align: center;
  min-width: 130px;
}

  

  
  