
.div1{
    background:#1A1A1D;
    box-shadow: -20px 10px 50px black inset
}

.div2{
    background:rgba(26, 26, 29,0.9)
    /* background: transparent;
    backdrop-filter: blur(10px); */
}

.flash{
    color:#9CFF2E;
    filter: drop-shadow(5px 0px 40px rgba(156, 255, 46,0.8));
}

.background-sm{ /* Background for sm screen */
    background: linear-gradient(45deg, #4c4c4c 0%,#1c1c1c 6%,#595959 12%,#2c2c2c 12%,#474747 12%,#474747 12%,#666666 34%,#474747 39%,#111111 70%,#2b2b2b 76%,#131313 96%,#131313 96%);
}

.background-lg {
    background:
      linear-gradient(0deg, transparent calc(100% - 1px), rgba(255, 255, 255,0.2) 1px),
      linear-gradient(90deg, transparent calc(100% - 1px), rgba(255, 255, 255,0.2) 1px);
    background-size: 2em 2em;
    background-color: #06040D
  }

.background-lginner{
    background: rgba(24, 24, 27,0.2);
    backdrop-filter: blur(1px);
}
  