
.div1{
    background:#1A1A1D;
    box-shadow: -20px 10px 50px black inset
}

.div2{
    background:rgba(26, 26, 29,0.9)
    /* background: transparent;
    backdrop-filter: blur(10px); */
}

.flash{
    color:#9CFF2E;
    filter: drop-shadow(5px 0px 40px rgba(156, 255, 46,0.8));
}
